/* ==========================================================================
 0. Core - CSS Variables, Mixins, and Utilities
 ========================================================================== */

@import "fonts";

$color_dark: #33333d;
$color_soft_pink: #FFF2ED;

$primary_font_color: $color_dark;
$primary_font_stack: "Inter", "San Francisco", "Roboto", "Droid Sans", sans-serif;

$material-curve: cubic-bezier(.62,.28,.23,.99);

// For displaying retina assets
// Pulled from @Stammy: http://paulstamatiou.com/responsive-retina-blog-development-part-2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
    @content;
  }
}

@mixin font-smoothing(){
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin transition($type: all, $duration: .32s, $function: $material-curve){
  transition: $type $duration $function;
}

// Media queries (based on Flexbox Grid sizes)
@mixin mq-sm {
  @media only screen and (min-width: 48em) {
    @content;
  }
}

@mixin mq-md {
  @media only screen and (min-width: 64em) {
    @content;
  }
}

@mixin mq-lq {
  @media only screen and (min-width: 75em) {
    @content;
  }
}


// The rest of the stylesheets, in order.
@import "normalize";
@import "animate";
@import "flexboxgrid";
@import "main";
